name: Build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5
      
    - name: Restore Packages
      run: nuget restore CircuitReverse/CircuitReverse.sln

    - name: Build App
      run: msbuild CircuitReverse/CircuitReverse.sln /p:Configuration=Release

    - name: Upload EXE
      uses: actions/upload-artifact@v3
      with:
        name: Compiled-App
        path: '**/bin/Release/**'
