name: Build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Install .NET Framework 4.5 Developer Pack
      run: choco install netfx-4.5-devpack
    
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2
      
    - name: Restore Packages
      run: nuget restore CircuitReverse/CircuitReverse.sln

    - name: Build App
      run: msbuild CircuitReverse/CircuitReverse.sln /p:Configuration=Release /p:Platform="Any CPU"

    - name: Upload Compiled EXE
      uses: actions/upload-artifact@v4
      with:
        name: CircuitReverse-Windows-EXE
        path: |
          **/bin/Release/*.exe
          **/bin/Release/*.dll
          **/bin/Release/*.config
        if-no-files-found: error
